<!-- Header -->
<div th:replace="./include/header.html"></div>
<!-- End header -->

<div class="container m-5">
    <h1 class="text-center mb-4 text-uppercase">Thành tích & Kỷ luật</h1>
    <form action="#" th:object="${RECORD}" th:action="@{/record/save}" method="post">
        <div class="mb-3">
            <label for="staff" class="form-label">Nhân viên<span class="text-danger">*</span></label>
            <select class="form-select" aria-label="staff" th:field="*{staffs}">
                <option th:each="s : ${STAFF_LIST}" th:value="${s.id}" th:text="${s.name}"></option>
              </select>
            <!-- <input type="text" class="form-control" id="depart" name="depart" th:field="*{depart}"> -->
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="type" class="form-label">Loại<span class="text-danger">*</span></label>
                <select class="form-select" aria-label="type" th:field="*{type}">
                    <option value="true">Khen thưởng</option>
                    <option value="false">Kỷ luật</option>
                  </select>
            </div>
            <div class="col">
                <label for="date" class="form-label">Ngày tiếp nhận<span class="text-danger">*</span></label>
                <input type="date" class="form-control" id="date" name="date" th:field="*{date}">
            </div>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Lý do<span class="text-danger">*</span></label>
            <textarea class="form-control" id="reason" name="reason" rows="3" th:field="*{reason}"></textarea>
        </div>
        <button type="submit " class="btn btn-primary ">Submit</button>
    </form>
</div>

<!-- Footer -->
<div th:replace="./include/footer.html "></div>
<!-- End Footer -->