<!-- Header -->
<div th:replace="./include/header.html"></div>
<!-- End header -->

<div class="container m-5">
    <h1 class="text-center mb-4 text-uppercase">Thành tích và kỷ luật</h1>
    <a th:href="@{/record/add}" class="btn btn-primary mb-4">Thêm thành tích & kỷ luật</a>
    <table class="table table-bordered align-middle">
        <thead>
            <tr class="text-center">
                <th>ID</th>
                <th>Nhân viên</th>
                <th>Loại</th>
                <th>Ngày ghi nhận</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each=" r : ${RECORD_LIST}">
                <td th:text="${rStat.index + 1}"></td>
                <td th:text="${r.staffs.name}"></td>
                <td th:text="${r.type?'Thành tích':'Kỷ luật'}"></td>
                <td th:text="${#dates.format(r.date,'dd/MM/yyyy')}"></td>
                <td>
                    <a th:href="@{/record/view?id={id}(id=${r.id})}" class="btn btn-primary detail_record" data-bs-toggle="modal" data-bs-target="#viewRecord">
                        <i class="far fa-info-circle"></i>
                    </a>
                    <a th:href="@{/record/update?id={id}(id=${r.id})}" class="btn btn-success"><i class="fas fa-edit"></i></a>
                    <a th:href="@{/record/delete?id={id}(id=${r.id})}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- View detail record -->
<div class="modal fade" id="viewRecord" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="viewRecordLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewRecordLabel">Chi tiết</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless h5">
                    <tr>
                        <td>Họ và tên:</td>
                        <td><span id="r_staffname"></span></td>
                    </tr>
                    <tr>
                        <td>Loại:</td>
                        <td><span id="r_type"></span></td>
                    </tr>
                    <tr>
                        <td>Ngày tiếp nhận:</td>
                        <td><span id="r_date"></span></td>
                    </tr>
                    <tr>
                        <td>Lý do:</td>
                        <td><span id="r_reason"></span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- End view detail record -->

<!-- Footer -->
<div th:replace="./include/footer.html"></div>
<!-- End Footer -->